# =====================================================
# IGNORAR TODO POR DEFECTO
# =====================================================
*

# Permitir carpetas
!*/

# =====================================================
# ARCHIVOS IMPORTANTES DEL RETO
# =====================================================
!.gitignore
!README.md
!*.md
!*.txt

# Workflows n8n
!*.json

# Diagramas C4 / Draw.io
!*.drawio

# Imágenes y capturas de evidencia
!*.png
!*.jpg
!*.jpeg
!*.webp

# Archivos para mantener carpetas vacías
!.gitkeep

# =====================================================
# NO SUBIR CREDENCIALES / WALLET ORACLE
# =====================================================
rpamacro/
Wallet_RPAMACRO/
**/Wallet_RPAMACRO/
*.pem
*.p12
*.sso
*.jks
tnsnames.ora
sqlnet.ora
ojdbc.properties
cwallet.sso
ewallet.p12
ewallet.pem
keystore.jks
truststore.jks

# =====================================================
# NO SUBIR ARCHIVOS PESADOS DESCARGADOS
# =====================================================
*.zip
*.xlsx
*.csv
*.xls
*.html